* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

header { 
    background: linear-gradient(to bottom, #ccded1, #6264a1) ;
    height: 100px;
    max-width: 1720px;
}

h1 {
    color: white;
    font-size: 20px;
    text-align: left;
    padding-top: 50px;
    padding-left: 100px;
}

button {
    background-color: #6264a1;
    color: white;
    font-size: 10px;
    text-align: center;
    width: 130px;
    height: 30px;
    border-style: double;
    border-width: 3px;
    border-radius: 10%;
    float: right;
    margin-right: 130px;
    margin-top: -50px;
}

body {
    background-image: url('../planemain.png');
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    color: white;
    margin-left: 60px;
    display: inline-flex;
    padding: 30px;
    position: relative;
}

ul li {
    padding-right: 280px;
}

ul li::before {
     content: '';
     background: white;
     border-radius: 50%;
     width: 7px;
     height: 7px;
     display: block;
     position: absolute;
     top: 35px;
     left: 10px;
}

ul li:hover::before {
    background: url('../plane.png') 10% 10% / contain no-repeat;
    border-radius: 0px;

}
a {
    color: white;
    text-decoration: none;

}

.nowhere {
    background-color:#6264a1;
    width: 100px;
    height: 30px;
    text-align: center;
    border: 3px solid black;
    border-radius: 4px;
    margin-left: 100px;
    margin-top: 200px;
}

.onanothercontinent {
    background-color:#6264a1;
    width: 180px;
    height: 40px;
    text-align: center;
    border: 3px double black;
    border-radius: 8px;
    margin-left: 800px;
    margin-top: 175px;
}

.onanotherplanet {
    background-color:#6264a1;
    width: 180px;
    height: 40px;
    text-align: center;
    border: 3px dashed black;
    border-radius: 8px;
    margin-left: 200px;
    margin-bottom: 175px;
}
    