* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

header { 
    background: linear-gradient(to bottom, #ccded1, #6264a1) ;
    height: 100px;
    max-width: 1720px;
}

h1 {
    color: white;
    font-size: 20px;
    text-align: left;
    padding-top: 50px;
    padding-left: 100px;
}

button {
    background-color: #6264a1;
    color: white;
    font-size: 10px;
    text-align: center;
    width: 130px;
    height: 30px;
    border-style: double;
    border-width: 3px;
    border-radius: 10%;
    float: right;
    margin-right: 130px;
    margin-top: -50px;
}

body {
    background-image: url("/planemain.png");
    background-repeat: no-repeat;
    background-size: cover;
}

ol {
    list-style-type: circle;
    margin-left: 20px;
    display: inline-flex;
    padding: 30px;
}

ol li {
    padding: 30px;
}

a {
    color: white;
    text-decoration: none;
}

.nowhere {
    background-color:#6264a1;
    width: 100px;
    height: 30px;
    text-align: center;
    border: 3px solid black;
    border-radius: 4px;
    margin-left: 100px;
    margin-top: 200px;
}

.onanothercontinent {
    background-color:#6264a1;
    width: 180px;
    height: 40px;
    text-align: center;
    border: 3px double black;
    border-radius: 8px;
    margin-left: 800px;
    margin-top: 175px;
}

.onanotherplanet {
    background-color:#6264a1;
    width: 180px;
    height: 40px;
    text-align: center;
    border: 3px dashed black;
    border-radius: 8px;
    margin-left: 200px;
    margin-bottom: 175px;
}
    